<h4>建立一個 success process</h4>
<pre class="js-return"><code class="javascript">
    var promise = new Promise(function(resolve, reject){
        resolve(200);
    });

    promise
    .then(function(value){
        console.info(value);
    })
    .catch(function(error){
        console.warn(error);
    });
</code></pre>

<h4>建立一個 fail process</h4>
<pre class="js-return"><code class="javascript">
    var promise = new Promise(function(resolve, reject){
        reject(404);
    });

    promise
    .then(function(value){
        console.info(value);
    })
    .catch(function(error){
        console.warn(error);
    });
</code></pre>
