root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# markdown 行尾三個空格為 換行
[{*.md,*.diff}]
trim_trailing_whitespace = false

[*.yml,*.md]
indent_size = 2

[*.json]
# The JSON files contain newlines inconsistently
insert_final_newline = ignore

[**.min.js]
indent_style = ignore
insert_final_newline = ignore
